<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="/static/custom.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  
  
  <body>

    <nav class="navbar" style="position: fixed; width: 100%; z-index:100;background-color: #6787b7; color: whitesmoke; font-weight:bold">          
      <div class="navbar-nav">          
        <a style="color: whitesmoke" id="logout" href="/logout">Logout</a>
      </div>    
    </nav>


    
    <div style="height:100%; width: 100%; position: relative; min-width:800px; top: 80px;">

      <div class="row-offcanvas row-offcanvas-left"">
        
        <div id="sidebar" class="sidebar-offcanvas">


          <div style="border-radius: 10px; overflow: hidden; background-color: #6787b7">
            <nav class="navbar">              
                <a href="/" class="sidebar-link"><div class="sidebar-item">Home</div></a></li>            
            </nav>
          </div>
              
          
          <div style="border-radius:10px; margin-top: 20px; overflow: hidden; background-color: #6787b7">

            <div style="color: whitesmoke; text-align: center; font-weight: bold; margin-top: 5px; margin-bottom: -7px">Databases</div>
              
            <nav class="navbar">
              
              <a href="#" class="sidebar-link"><div class="sidebar-item">Summer Programs</div></a>
              <a href="#" class="sidebar-link"><div class="sidebar-item">Community Service</div></a>
              <a href="#" class="sidebar-link"><div class="sidebar-item">Internship Programs</div></a>
              
            </nav>
          </div>


          <div style="border-radius: 10px; margin-top: 20px; overflow: hidden; background-color: #6787b7">
            <div style="color: whitesmoke; text-align: center; font-weight: bold; margin-top: 5px; margin-bottom: -7px">Data</div>
            <nav class="navbar">              
                <a href="#" class="sidebar-link"><div class="sidebar-item">College Lists</div></a></li>
                <a href="/resultsdata" class="sidebar-link"><div class="sidebar-item">Results</div></a></li>              
            </nav>
          </div>

          <div style="border-radius: 10px; margin-top: 20px; overflow: hidden; background-color: #6787b7">
            <div style="color: whitesmoke; text-align: center; font-weight: bold; margin-top: 5px; margin-bottom: -7px">Prototypes</div>
            <nav class="navbar">              
                <a href="/activities" class="sidebar-link"><div class="sidebar-item">Activities Listings</div></a></li>              
            </nav>
          </div>


        </div>  
      </div>


      <div class="main-content">
        <div>
          {% block content %} {% endblock %}
        </div>
      </div>


    </div>




    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    
  </body>
</html>