html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 220px;  
  margin-left: 20px;
  background-color: transparent;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  position:fixed;
  float:left;
}

.sidebar-item {
  width: 209px;
  background-color:transparent;
  text-align: center;
  margin-left:-11px;
}

.sidebar-item:hover {
  border-radius: 5px;
  background-color: #D1DDE6;  
  overflow:hidden;
}

.sidebar-link {
  color: whitesmoke
}

.sidebar-link:hover {
  text-decoration: none;
}


.main-content{  
  width: -webkit-calc(100% - 240px);
  width:    -moz-calc(100% - 240px);
  width:         calc(100% - 240px);   
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  float:right;
}

.main-content.active{ 
  width: -webkit-calc(100% - 20px);
  width:    -moz-calc(100% - 20px);
  width:         calc(100% - 20px); 
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  position: relative;
  float:right;
}

.btn-expand {
  background-color:transparent !important;
}
.btn-expand:focus {
  background-color:transparent !important;
}

.btn-expand:hover {
  background-color:transparent !important;
}


.activity-title{
    font-weight:600;
    font-size:24px;
    padding: 5px;
    border-radius: 10px;
    background-color:rgb(128, 128, 128);
    color:rgb(255, 255, 255);
    margin: 0px auto;
    margin-bottom: 15px;
}

.form-group{
    position: relative;
    display:block;
    margin-bottom: 12px !important;
}

.form-label{
    margin-bottom: 5px;
    font-weight: 600;
}

.activity-form {
    background-color:rgb(215, 215, 215);
    border-radius:10px;
    padding:15px;
    position: relative
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}