html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 1120px;
}

#sidebar {
  width: 220px;  
  margin-left: 20px;
  background-color: transparent;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  position:fixed;
  float:left;
}

.sidebar-item {
  width: 209px;
  background-color:transparent;
  text-align: center;
  margin-left:-11px;
}

.sidebar-item:hover {
  border-radius: 5px;
  background-color: #D1DDE6;  
  overflow:hidden;
}

.sidebar-link {
  color: whitesmoke
}

.sidebar-link:hover {
  text-decoration: none;
}


.main-content{  
  width: -webkit-calc(100% - 240px);
  width:    -moz-calc(100% - 240px);
  width:         calc(100% - 240px);
  min-width: 900px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  float:right;
}

.main-content.active{ 
  width: -webkit-calc(100% - 20px);
  width:    -moz-calc(100% - 20px);
  width:         calc(100% - 20px); 
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  position: relative;
  float:right;
}

.btn-expand {
  background-color:transparent !important;
}
.btn-expand:focus {
  background-color:transparent !important;
}

.btn-expand:hover {
  background-color:transparent !important;
}


.activity-title{
    font-weight:600;
    font-size:24px;
    padding: 5px;
    border-radius: 10px;
    background-color:rgb(128, 128, 128);
    color:rgb(255, 255, 255);
    margin: 0px auto;
    margin-bottom: 15px;
}

.form-group{
    position: relative;
    display:block;
    margin-bottom: 12px !important;
}

.form-label{
    margin-bottom: 5px;
    font-weight: 600;
}

.activity-form {
    background-color:rgb(215, 215, 215);
    border-radius:10px;
    padding:15px;
    position: relative
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.button {cursor: pointer}


.remove_college_button {margin-top: 5px; color: #FFFFFF; background-color:#6787b7; width: 20px; border-radius: 5px; text-align: center; font-size: small}
.standard_select {margin-top: 3px; margin-bottom: 3px; height:24px; font-size: 11px; width: 70px}
.college_table {list-style-type: none; margin-left: -40px}
.college_name_cell {width: 290px; height: 24px; text-align: left; float: left; vertical-align: middle; font-size: 13px}
.college_chancing_cell {width: 80px; height: 24px; text-align: center; float:left; vertical-align: middle; font-size: 13px}
.college_name_header {width: 290px; text-align: left; float: left; vertical-align: middle; font-size: 13px}
.college_chancing_header {width: 80px; text-align: center; float:left; vertical-align: middle; font-size: 13px}
.counselor_rec {width: 70px;}